@{
    ViewBag.Title = "E-naslov potrjen";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Hvala, ker ste potrdili svoj e-poštni naslov. Prosim @Html.ActionLink("kliknite tukaj za prijavo!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
