@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title</h2>

<p>
    Opravljamo prevoze z gradbenimi kesoni, ki pridejo v poštev pri sanacijah, obnovah in novogradnjah objektov (dostava materiala in odvoz ruševin ter odpada), pri čemer pustimo keson pri stranki. Zaradi majhnosti in okretnosti naših vozil lahko opravljamo prevoze na ozkih, težko dostopnih predelih, strminah, ozkih ulicah in mestnih jedrih. S kombinacijo plošče pa lahko prevažamo tudi nova  ali poškodovana vozila ter opravljamo selitve delovnih strojev (mini bagrov, viličarjev, valjarjev,...) in gradbene armature (mreže). Opravljamo tudi prevoze delovnih strojev do teže 10 ton.
</p>
<hr />
<h4>Dejavnosti:</h4>
<li>prevozi gradbenega materiala</li>
<li>prevozi odpadnega materiala</li>
<li>prevozi kuriva (drva)</li>
<li>prevozi vozil in  delovnih strojev</li>
<li>najem gradbenih kontejnerjev za adaptacije</li>
<li>knjigovodstvo in svetovanje</li>


<hr />
<h4>Delovni čas:</h4>
<p>
    Delovni čas se prilagaja strankam, saj smo družinsko podjetje.
    Za prevoze smo dosegljivi na gsm: <b>040 904 904</b> in <b>040 908 908</b>
</p>
