@{
    ViewBag.Title = "Storitve";
}
<h2>@ViewBag.Title</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum dignissim lorem ac volutpat. Sed dapibus cursus arcu in hendrerit. Sed ultricies lacus augue, at pulvinar nunc ultricies sit amet. Morbi sed felis semper, porta nisl scelerisque, dictum est. Nam in tincidunt augue, sit amet iaculis ex. Fusce malesuada vestibulum tellus vitae accumsan. Maecenas dignissim est sit amet felis viverra elementum. Maecenas fringilla consectetur volutpat. In hac habitasse platea dictumst.
</p>
<p>
    Suspendisse potenti. Pellentesque bibendum, lectus at volutpat consectetur, turpis erat iaculis tellus, et pharetra ante sem non massa. Phasellus fermentum massa semper libero efficitur volutpat. Vivamus vulputate ex consectetur mauris posuere, a commodo ante varius. Phasellus a risus vitae nisl rhoncus dignissim non at arcu. Ut urna turpis, auctor vitae felis ut, posuere placerat lectus. Suspendisse pellentesque laoreet mauris vitae suscipit. Mauris mollis facilisis massa vitae egestas.
</p>
<p>
    Sed laoreet malesuada feugiat. Aenean facilisis gravida auctor. Aenean vitae ipsum semper, ornare quam at, tincidunt tellus. Pellentesque iaculis, odio feugiat gravida efficitur, magna sem tristique quam, at posuere ex purus feugiat est. Curabitur rhoncus nulla tincidunt, tincidunt mauris id, semper nunc. Suspendisse vestibulum mi vel accumsan eleifend. Vestibulum sed ornare dui. Pellentesque feugiat laoreet erat, at scelerisque dolor.
</p>
