@{
    ViewBag.Title = "Storitve";
}
<h2>@ViewBag.Title</h2>


<div>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col" colspan="2">Cenik storitev</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Opis</th>
                <th>Cena v EUR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="info" scope="col" colspan="2">Štartnina/nalaganje-razlaganje</th>
            </tr>
            <tr>
                <td>- dvižne košare 8, 10 in 12 m  - lokalno</td>
                <td>40,00</td>
            </tr>
            <tr>
                <td>- dvižne košare (2 kom) - lokalno</td>
                <td>60,00</td>
            </tr>
            <tr>
                <td>- viličarji, gradbeni stroji  - lokalno</td>
                <td>50,00</td>
            </tr>
            <tr>
                <th class="success" scope="col" colspan="2">Tekoči kilometri (EUR/KM)</th>
            </tr>
            <tr>
                <td>- dvižne košare</td>
                <td>1,00</td>
            </tr>
            <tr>
                <td>- viličarji, gradbeni stroji</td>
                <td>1,50</td>
            </tr>
            <tr>
                <th class="danger" scope="col" colspan="2">Prevozi gradbenega materiala (razsuti material od 2,5-11 m3)</th>
            </tr>
            <tr>
                <td>- Dostava peska- betona - lokalno</td>
                <td>35,00</td>
            </tr>
            <tr>
                <td>- Dostava kontejnerja in odvoz ruševin, gradbenega odpada vključno z deponiranjem - lokalno</td>
                <td>80,00</td>
            </tr>
            <tr>
                <td>- Dostava kontejnerja 11 m3 in odvoz smeti na deponijo Cerod - lokalno</td>
                <td>120,00</td>
            </tr>
            <tr>
                <td>- Dostava kontejnerja 11 m3 in odvoz lesa na deponijo vključno z deponiranjem</td>
                <td>80,00</td>
            </tr>
            <tr>
                <th class="warning" scope="col" colspan="2">Delovne ure</th>
            </tr>
            <tr>
                <td>- Delovna ura</td>
                <td>30,00</td>
            </tr>
            <tr class="active">
                <td>Dnevni najem kontejnerja</td>
                <td>3,15</td>
            </tr>
        </tbody>
    </table>
    Cene so v EUR in so brez 22 % DDV.
    Vsi ostali stroški (cestnine, mostnine itd.) vezani na storitev se zaračunavajo posebej po računu.
    <p>
        Šentjernej, 01.09.2018
    </p> 

</div>